body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD1;
    margin: 0;
}
#container h1{
    font-size: 20px;
}

#cabecera{
    background: #33A;
    color: white;
    font-weight: bold;
    padding: 5em;
    margin: 0;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}